topLevelContainer {
    display: flex;
    flex-direction: row;
    width:100%;
    height:75%;
}


robotStatusBox {
    flex-grow: 2;
    background: #feb800
    color: #0122d2
}

.buildInfoTextDiv {
    margin:10px;
    white-space: pre-wrap;
}

linksBox {
    flex-grow: 1;
    padding-top: 10px;
}

a.bigLinkButton {
    display: block;
    width: auto;
    height: auto;
    background: #feb800;
    padding: 10px 5px;
    margin: 10px 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    color: #0122d2;
    font-weight: bold;
    line-height: 25px;
    opacity: 0;
    transition: 0.8s;
    margin: 30px 5px;
    text-decoration: none;
}

a.bigLinkButton:hover {
    opacity: 0.9;
 }
 a.bigLinkButton:active {
    color: white;
 }
 a.bigLinkButton:disabled {
    background: grey;
    color: white;
 }